<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>userDB</param-name>
        <param-value>WEB-INF/xml/userDB.xml</param-value>
    </context-param>
    <context-param>
        <param-name>matchDB</param-name>
        <param-value>WEB-INF/xml/matchDB.xml</param-value>
    </context-param>
    <context-param>
        <param-name>cardDB</param-name>
        <param-value>WEB-INF/xml/cardDB.xml</param-value>
    </context-param>
    <servlet>
        <servlet-name>Dixit</servlet-name>
        <servlet-class>asw1022.services.Dixit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>asw1022.controllers.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>asw1022.controllers.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameController</servlet-name>
        <servlet-class>asw1022.controllers.GameController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dixit</servlet-name>
        <url-pattern>/Dixit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/Home</url-pattern>
        <url-pattern>/About</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/Register</url-pattern>
        <url-pattern>/Login</url-pattern>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GameController</servlet-name>
        <url-pattern>/NewMatch</url-pattern>
        <url-pattern>/Play/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
